.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    img {
        width: 48px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #21A668;
        padding: 6px;
    }

    h1 {
        color: white;
    }
}