.form-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-column-gap: 8px;
  margin-bottom: 16px;
}

.text-area {
  border: 2px solid #21a668;
  width: 100%;
  font-size: 1rem;
  color: white;
  padding: 16px;
  line-height: 1.5;
}
